name: Deployment Workflow

on:
  push:
    branches:
      - main

jobs: 
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build -t dsee07/docker-react-app -f Dockerfile.dev .
      - run: docker run -e CI=true dsee07/docker-react-app npm test